<div class="row" style="height:34%;">

<div class="col-md-4 bg-primary colBorder">
<img src="{{imgUrl1}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>

<div class="col-md-4 bg-danger colBorder">
<img src="{{imgUrl2}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>

<div class="col-md-4 bg-success colBorder">
<img src="{{imgUrl3}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>
</div>	

<div class="row" style="height:33%;">
<div class="col-md-4 bg-success colBorder">
<img src="{{imgUrl4}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>
<div class="col-md-4 bg-primary colBorder">
<img src="{{imgUrl5}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>
<div class="col-md-4 bg-danger colBorder">
	<img src="{{imgUrl6}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>
</div>

<div class="row" style="height:33%;">
<div class="col-md-4 bg-danger colBorder">
<img src="{{imgUrl7}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>
<div class="col-md-4 bg-success colBorder">
	<img src="{{imgUrl8}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>
<div class="col-md-4 bg-primary colBorder">
<img src="{{imgUrl9}}" class="img-responsive" alt="Cinque Terre" height="328px" width="274px">
</div>
</div>